footer
  .container.text-center
    p.float-left © 2020 Truminds
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://www.linkedin.com/company/trueminds-software') Linkedin
      li.list-inline-item
        a(href='https://twitter.com/Truminds_Ltd') Twitter
